<div class="row section images">
	<div class="col-xs-12 col-lg-12">
		<h1>
			<i class="fa fa-picture-o"></i> Images
		</h1>
		<div class="row">
			<div data-ng-repeat="img in images" class="col-xs-6 col-sm-4 col-md-3  collg-3 ">
				<div class="photo thumbnail">
					<a href="{{img.url}}" class="swipebox" ng-title="{{img.title + ' | ' +img.tags}}" >
						<img alt="image" ng-src="{{img.url}}" class="img-responsive" />
					</a>
				</div>
			</div>
		</div>
		<a href="#" ng-click="moreImages();" class="btn btn-success btn-block">
			<i ng-show="iloading" class='fa fa-spinner fa-spin '></i>
			Load More
		</a>
	</div>
</div>